/* Set background styles for the entire page */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, blue, purple, black);
  color: grey; /* Text color */
  font-family: Arial, sans-serif;
  text-align: center;
  overflow: hidden;
}

/* Center the content vertically and horizontally */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to bottom, blue, purple, black);
  padding: 20px; /* Add some padding to center content within the container */
}

/* Style the table to be as wide as the entire page */
table {
  width: 100%;
  max-width: none;
}

/* Style the table headers */
table th {
  background-color: #4B0082;
  color: white;
  padding: 10px;
}

/* Style the table cells */
table td {
  padding: 10px;
}

/* Add a hover effect for table rows */
table tbody tr:hover {
  background-color: #800080;
  color: white;
}

/* Style the exit button container */
.exit-button-container1 {
  position: absolute;
  top: 20px;
  right: 20px; /* Adjust the right value to position the button */
  z-index: 999;
  border-radius: 4px;
  border: none;
  background: none;
}

/* Style the exit button */
.exit-button1 {
  background: linear-gradient(45deg, #4B0082 33.33%, #800080 66.66%);
  color: white;
  border: 1px solid black; /* Add a black border */
  border-radius: 4px;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Add a hover effect for the exit button */
.exit-button1:hover {
  background: #800080; /* Change the background color on hover */
}

/* Style the display data button container */
.display-data-button-container {
  position: fixed;
  top: 3%;
  right: calc(40% + 30px); /* Adjust the right value to move it closer to the exit button */
  z-index: 999;
}

/* Style the display data button */
.display-data-button {
  background: linear-gradient(45deg, #4B0082 33.33%, #800080 66.66%);
  color: white;
  border: 1px solid black; /* Add a black border */
  border-radius: 4px;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Add a hover effect for the display data button */
.display-data-button:hover {
  background: #800080; /* Change the background color on hover */
}
