/* Set background styles for the entire page */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, blue, purple, black);
  color: grey; /* Text color */
  font-family: Arial, sans-serif;
  text-align: center;
  overflow: hidden;
}

/* Center the content vertically and horizontally */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to bottom, blue, purple, black);
}

/* Style the form */
form {
  width: 100%;
  max-width: 626px; /* Adjust the maximum width as needed */
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
  margin-bottom: 349px; /* Increase the negative margin to move the form up */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(45deg, #4B0082 33.33%, #800080 66.66%);
}

/* Style the input boxes and labels */
form input[type="number"],
form input[type="date"],
form input[type="text"],
form p {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin: 5px 0;
  color: grey; /* Text color for input fields and labels */
}

/* Style the submit button */
form button[type="submit"] {
  display: inline-block;
  background:  #800080;
  color: white;
  border: none;
  border-radius: 4px;
  min-width: 30px;
  padding: 10px 20px;
  margin-top: 20px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Add a hover effect for the button */
form button[type="submit"]:hover{
  background: grey; /* Change the background color on hover */
}

/* Position the display data button container */
.display-data-button-container{
  position: fixed;
  top: 3%;
  right: calc(40% + 30px); /* Adjust the right value to move it closer to the exit button */
  z-index: 999;
}

/* Style the display data button */
.display-data-button{
  background: linear-gradient(45deg, #4B0082 33.33%, #800080 66.66%);
  color: white;
  border: 1px solid black; /* Add a black border */
  border-radius: 4px;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Add a hover effect for the display data button */
.display-data-button:hover{
  background: #800080; /* Change the background color on hover */
}


/* Position the exit button container */
.exit-button-container1{
  position: fixed;
  top: 3%; /* Adjust the top value to position it at the top of the page */
  z-index: 999;
}

/* Style the exit button */
.exit-button1{
  background: linear-gradient(45deg, #4B0082 33.33%, #800080 66.66%);
  color: white;
  border: 1px solid black; /* Add a black border */
  border-radius: 4px;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Add a hover effect for the exit button */
.exit-button1:hover{
  background: #800080; /* Change the background color on hover */
}

