html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom, blue, purple, black);
  color: black;
  font-family: Arial, sans-serif;
  text-align: center;
  overflow: hidden;
}
