nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  top: 0;
  left: 0;
  
  background-color: #4b0082;
  
  width: 100%;
  z-index: 1;
}

nav a {
  color: white;
  text-decoration: none;

  padding: 10px 20px;
  
  font-size: 20px;
}

nav a:hover {
  color: gray;
}

nav button {
  margin: 0.8em 1em;
  padding: 0.3em .8em;
}

nav button:hover {
  background-color: darkgray;
}